<!--
Directives are the ng-app, ng-controller & ng-model
ng-model
-->
<!DOCTYPE html>
<html lang="en-us" ng-app="dataBindingDirectives">
<head>
    <title>Learn and Understand AngularJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <style>
        html, body, input, select, textarea {
            font-size: 1.05em;
        }
    </style>

    <!-- load angular via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://code.angularjs.org/1.5.6">AngularJS</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">

    <div ng-controller="controller">

        <h1>Hello {{ name + ", how are you?" }}</h1>


        <div>
            <label>What is your twitter handle?
                <input type="text" ng-model="handle">
            </label>
        </div>

        <!-- ng-if example -->
        <!--<div class="alert" ng-if="handle.length !== characters">-->
            <!--Must be 5 Characters!-->
        <!--</div>-->

        <!--
            This directive ng-show, show's something when the evaluation passes
            ng-hide, hide's something until the evaluation passes

         -->
        <div class="alert" ng-class="{ 'alert-warning': handle.length < characters, 'alert-danger': handle.length > characters}"
             ng-show="handle.length !== characters">
            <div ng-show="handle.length < characters">
                You have less than 5 characters.
            </div>

            <div ng-show="handle.length > characters">
                You have more than 5 characters.
            </div>
        </div>

        <h1>twitter.com/{{ lowercasehandle() }}</h1>

        <h3>Rules</h3>
        <ul>
            <li ng-repeat="rule in rules">
                {{ rule.rulename }}
            </li>
        </ul>

        <br/>
        <br/>
        <h1>Dependency Injection</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="name">
                </div>
            </div>
        </div>

        <!-- Directives (Part 2) -->
        <br/>
        <br/>
        <input type="button" value="Click Me" ng-click="alertClick()" >

        <br />
        <!--
        This hides the element, which might display as "{{ name }}" until angular has had the time to do it's business
        -->
        <div ng-cloak>{{ name }}</div>

    </div>
</div>

</body>
<script src="js/data-binding-directives.js"></script>
</html>