<!--
Http Requests - Working with Spotify API
-->
<!DOCTYPE html>
<html lang="en-us" ng-app="httpRequests">
<head>
    <title>Learn and Understand AngularJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <style>
        html, body, input, select, textarea {
            font-size: 1.05em;
        }
    </style>

    <!-- load angular via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://code.angularjs.org/1.5.6">AngularJS + Spotify API</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div ng-controller="requests">
        <div class="container panel-body">
            <label for="searchBox">Search Type: </label>
            <div class="checkbox">
                <label>
                    <input type="radio" ng-model="searchType" value="artist"> Artist
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="radio" ng-model="searchType" value="album"> Album
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="radio" ng-model="searchType" value="track"> Track
                </label>
            </div>

            <form class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="pull-left input-group col-lg-6 col-md-6 col-sm-8 col-xs-10">
                        <input type="text" class="form-control" id="searchBox" ng-model="searchText"
                               placeholder="Search"/>
                            <span class="input-group-btn">
                               <button type="button" class="btn btn-default"
                                       ng-click="search();">Search</button>
                            </span>
                    </div>
                    <div class="spinner col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-show="loading">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </div>
                </div>
            </form>
        </div>
        <br/>

        <table class="table table-responsive table-striped">
            <thead>
            <th>#</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Song</th>
            </thead>
            <tbody>
            <tr ng-cloak ng-repeat="search in searchResult">
                <td>{{ $index + 1 }}</td>
                <td>
                    <span ng-if="searchType === 'track'">{{ search.artists[0].name }}</span>
                    <span ng-if="searchType === 'artist'">{{ search.name }}</span>
                    <span ng-if="searchType === 'album'">N/A</span>
                </td>
                <td>
                    <span ng-if="searchType === 'track'">{{ search.album.name }}</span>
                    <span ng-if="searchType === 'artist'">N/A</span>
                    <span ng-if="searchType === 'album'">{{ search.name }}</span>
                </td>
                <td>
                    <span ng-if="searchType === 'track'">{{ search.name }}</span>
                    <span ng-if="searchType === 'artist'">N/A</span>
                    <span ng-if="searchType === 'album'">N/A</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
<script src="js/http-requests.js"></script>
</html>